*{
	margin: 0;
	padding: 0;
}
#profile-pic {
	border-radius: 15px;
	height: 30px;	
	width: 30px;
}
@font-face {
  	font-family: 'Avenir Next Bold';
  	src: url("fonts/AvenirNextLTPro-Bold.otf");
}

@font-face {
  	font-family: 'Avenir Next Regular';
  	src: url("fonts/AvenirNextLTPro-Regular.otf");
}
.googleSignIn{
	background-color: #d74937;
	border: none;
	border-radius: 10px;
	color: white;
	font-family: "Avenir Next Regular";
	height: 60px;
	padding: 15px;
	font-size: 14pt;
	margin-left: 50px;
	margin-bottom: 30px;
	margin-top: 15px;
}

.googleSignIn:hover{
	cursor: pointer;
	opacity: .9;
}

.googleSignIn img{
	float: left;
}

.text{
	font-size: 12pt;
}
#time{
  	font-family: 'Avenir Next Bold';
	text-transform: uppercase;
	color: #4990E2;
	margin-top: 15px;
	display: inline block;
	font-size: 40pt;
	float: left;
}
body{
	width: 300px;
	border-radius: 15px;
	padding: 10px;
}
#notSignedIn{
	display: none;
	opacity: 0;
}
#icons{
	float: right;
}
#icons img{
	height: 30px;
	width: 30px;
}
#hands{
	height: 40px;
	margin-top: 17px;
	margin-left: 10px;
}

